#t1{
 
	width:100%;
	border:5px solid black;
	border-color:red;
}

#th1,#th2,#th3,#th4,#th5{
height:20px;
	padding:10px;
	text-align:center;

}

#t2{
	margin-top:3%;
	margin-left:2%
}
 form{
	 text-align:center;
 }