#t1{
	width:100%;
	border:5px solid black;
	border-color:red;
}
#th1,#th2,#th3,#th4,#th5{
	height:20px;
	padding:10px;
	text-align:center;

}
 
 body{
	 background-color:white;
 }
 h3{
	 color:red;
	 font-family:"Algerian";
	 text-align:center;
	 font-size:25px;
 }
 
 td{
	 vertical-align:top;
 }
 table{
	 margin-left:1%;
 }